@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'JetBrainsMono';
        font-style: normal;
        font-weight: 400;
        src: url('/static/jet-brains-mono.tff') format('truetype');
    }
}
