<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar modification</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="tab">
        <div class="insert">
          <h2>Choose a database</h2>
          <label for="database"></label>
          <select id="database">
            <option value="none">No database selected</option>
          </select>
          <button class="submit database">Submit</button>
          <h2>Choost a date</h2>
          <label for="date"></label>
          <select id="date">
            <option value="none">No column selected</option>
          </select>
          <h2>Choost a name</h2>
          <label for="name"></label>
          <select id="name">
            <option value="none">No column selected</option>
          </select>
          <h2>Choost a description</h2>
          <label for="description"></label>
          <select id="description">
            <option value="none">No column selected</option>
          </select>
          <h2>Choost a signal for finishing task</h2>
          <label for="done"></label>
          <select id="done">
            <option value="none">No column selected</option>
          </select>
          <button class="submitDoneMethod">Submit</button>
          <button class="submitColumns">Submit</button>
          <p id="alert"></p>
        </div>
        <button class="submitForm">Sync</button>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
