<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar modification</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="tab">
        <div class="insert">
          <h2>Choose a database</h2>
          <label for="database"></label>
          <select id="database">
            <option value="none">No database selected</option>
          </select>
          <button class="submit database">Submit</button>
          <h2>Choost a column</h2>
          <label for="column"></label>
          <select id="column">
            <option value="none">No column selected</option>
          </select>
          <button class="submit column">Submit</button>
        </div>
        <button class="submitForm">Sync</button>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
