{{ block "notion-logout-button" . }}
<a
    hx-post="users/logout/notion"
    hx-swap="outerHTML"
    hx-target="this"
    class="relative p-3 text-sm bg-[#343434] text-[#f9f6ee] rounded-md hover:bg-[#282828] active:bg-[#212121] active:text-[#d1cfc9] transition-all duration-200 ease-in-out cursor-pointer select-none"
>
    Remove Notion connection
</a>
{{ end }}

{{ block "notion-login-button" . }}
<a
    href="users/login/notion"
    class="relative p-3 text-sm bg-[#343434] text-[#f9f6ee] rounded-md hover:bg-[#282828] active:bg-[#212121] active:text-[#d1cfc9] transition-all duration-200 ease-in-out cursor-pointer select-none"
>
    Connect to Notion
</a>
{{ end }}

{{ block "google-login-button" . }}
<a
    href="users/login/google"
    class="relative p-3 text-sm bg-[#343434] text-[#f9f6ee] rounded-md hover:bg-[#282828] active:bg-[#212121] active:text-[#d1cfc9] transition-all duration-200 ease-in-out cursor-pointer select-none"
>
   Login with Google 
</a>
{{ end }}

{{ block "google-logout-button" . }}
<a 
    href="users/logout/google"
    class="flex relative text-sm text-[#343434] pl-4 py-2 items-center w-auto bg-[#f9f6ee] rounded-md hover:bg-[#d1cfc9] transition-all duration-200"
>
    <div class="relative flex size-6 justify-center items-center">
        <object type="image/svg+xml" data="/static/icons/log-out.svg" width="16" height="16">
        </object>
    </div>
    <p class="ml-2">Logout</p>
</a>
{{ end }}

{{ block "setting-button" . }} 
<a
    href="/setting"
    class="flex relative text-sm text-[#343434] pl-4 py-2 items-center w-auto bg-[#f9f6ee] rounded-md hover:bg-[#d1cfc9] transition-all duration-200"
>
    <div class="relative flex size-6 justify-center items-center">
        <object type="image/svg+xml" data="/static/icons/setting.svg" width="18" height="18">
        </object> 
    </div>
    <p class="ml-2">Setting</p>
</a>
{{ end }}

{{ block "connection-widget" . }}
<div 
    class="relative h-36 p-3 bg-[#454545] text-[#f9f6ee] text-sm rounded-md hover:bg-[#393939] active:bg-[#303030] active:text-[#d1cfc9] transition-all duration-200 cursor-pointer select-none"
>
    {{ .CalendarName }}
</div>
{{ end }}
