{{ block "content" . }}
    {{ if .IsNotionConnected }}
        <div class="ml-64 mt-14 h-auto w-auto flex-col">
            <p class="p-6 text-xl text-dark dark:text-light">My Connections</p>
            <div 
                class="relative z-10 grid h-auto w-auto grid-flow-row grid-cols-4 gap-6 overflow-hidden px-6"
            >
                {{ range  .NotionConns }}
                    {{ template "connection-widget" . }}
                {{ end }}
            </div>
        </div>
    {{ else }}
        <div class="ml-64 flex h-screen w-auto items-center justify-center">
            {{ template "notion-login-button" . }}    
        </div>
    {{ end }}
{{ end }}
