{{ block "content" . }}
    <div class="ml-64 mt-14 h-screen w-auto flex-col">
        <p class="p-6 text-xl text-dark dark:text-light">Setting</p>
        <div class="my-4 flex pl-6">
            <div
                hx-get="/setting/account"
                hx-target="#section-panel"
                hx-swap="innerHTML"
            >{{ template "section" "Account" }}</div>
            <div
                hx-get="/setting/display"
                hx-target="#section-panel"
                hx-swap="innerHTML"
            >{{ template "section" "Display" }}</div>
        </div>
        <div id="section-panel" class="mt-6">
            {{ template "account" . }}
        </div>
    </div>
{{ end }}

{{ block "section" . }}
<input
    id="{{ . }}"
    type="radio"
    name="section"
    class="hidden [&:checked+label]:bg-light-hovered dark:[&:checked+label]:bg-dark-hovered"
    {{ if eq . "Account" }}checked{{ end }}
/>
<label
    class="bg-transparent relative z-20 cursor-pointer select-none rounded-full px-6 py-2 text-dark transition-all duration-200 ease-out dark:text-light"
    for="{{ . }}"
>
    {{ . }}
</label>
{{ end }}

{{ block "account" . }}
        {{ if .IsNotionConnected }}
            <div
                class="relative ml-6 flex w-2/3 items-center justify-between rounded-md bg-light px-4 py-2 text-dark outline outline-1 outline-light-active dark:bg-dark dark:text-light"
            >
                <div class="flex items-center">
                    <img
                        class="mr-4 rounded-md"
                        src="{{ .NotionUserImg }}"
                        onerror="this.src='static/icons/notion-logo.svg'"
                        width="24"
                        height="24"
                    >
                    <p class="mr-4 text-sm">{{ .NotionUserName }}</p>
                </div>
                <div class="flex items-center">
                    <a
                        href="/users/login/notion"
                        class="mr-2 flex size-8 cursor-pointer rounded-md bg-light transition-all duration-200 ease-out hover:bg-light-hovered dark:bg-dark dark:hover:bg-dark-hovered"
                    >
                        <object
                            class="pointer-events-none m-auto"
                            type="image/svg+xml"
                            data="/static/icons/reload.svg"
                            width="16"
                            height="16"
                        >
                        </object>
                    </a>
                    <div
                        hx-post="/users/logout/notion"
                        hx-target="#section-panel"
                        hx-swap="innerHTML"
                        class="flex size-8 cursor-pointer rounded-md bg-light transition-all duration-200 ease-out hover:bg-light-hovered dark:bg-dark dark:hover:bg-dark-hovered"
                    >
                        <object
                            class="pointer-events-none m-auto"
                            type="image/svg+xml"
                            data="/static/icons/trash.svg"
                            width="16"
                            height="16"
                        >
                        </object>
                    </div>
                </div>
        {{ else }}
            {{ template "add-notion-account-button" . }}
        {{ end }}
    </div>
{{ end }}

{{ block "display" . }}
    <div class="ml-6 flex w-2/3 items-center justify-between">
        <p class="text-sm text-dark dark:text-light">Appearence</p>
        <div id="appearence" class="relative">{{ template "toggle-switch" .Appearence }}</div>
    </div>
{{ end }}
