{{ block "index" .}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="/static/scripts/htmx.min.js"></script>
        <link rel="stylesheet" href="/static/style/output.css" />
        <title>Dashboard</title>
    </head>
    <body class="bg-[#242424] font-mono">
        <nav
            class="fixed top-0 z-20 flex w-full bg-[#242424] outline outline-1 outline-[#F0EAD6]/50 text-[#F0EAD6] p-4 justify-between items-center text-sm"
        >
            <p>Dashboard</p>
            {{ if .IsNotionConnected }}
                {{ template "logout-button" . }}
            {{ else }}
                {{ template "login-button" . }}
            {{ end }}
        </nav>
        <div class="mt-20 grid grid-cols-5 grid-flow-row gap-4 p-3 w-full h-full z-10 overflow-hidden">
            {{ range $conn := .NotionConns }}
            <div class="relative h-36 p-3 bg-[#E9DCC9] text-[#242424] rounded-md">{{ $conn.CalendarName }}</div> 
            {{ end }}
        </div>
    </body>
    <script src="/dashboard/script"></script>
</html>
{{ end }}



{{block "logout-button" . }}
                <a
                    hx-post="users/logout/notion"
                    hx-swap="outerHTML"
                    hx-target="this"
                    class="relative p-2 bg-[#F0EAD6] text-[#242424] rounded-md hover:bg-[#F0EAD6]/75 active:bg-[#F0EAD6]/50 transition-all duration-200 ease-in-out cursor-pointer"
                >
                    Remove Notion connection
                </a>
{{ end }}

{{block "login-button" . }}
                <a
                    href="/users/login/notion"
                    class="relative p-2 bg-[#F0EAD6] text-[#242424] rounded-md hover:bg-[#F0EAD6]/75 active:bg-[#F0EAD6]/50 transition-all duration-200 ease-in-out cursor-pointer"
                >
                    Connect to Notion
                </a>
{{ end }}
