<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/output.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/static/style/output.css" />
        <title>Dashboard</title>
    </head>
    <body class="bg-[#242424] font-mono">
        <p class="text-slate-100 text-sm" id="text">{{ .Token }}</p>
    </body>
    <script src="/dashboard/script"></script>
</html>
