<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="/static/scripts/htmx.min.js"></script>
        <link rel="stylesheet" href="/static/style/output.css" />
        <title>Notion calendar</title>
    </head>
    <body class="bg-[#f9f6ee] font-mono">
        <nav
            class="flex w-full items-center justify-between bg-[#f9f6ee] p-4 text-sm outline outline-1 outline-[#343434]/25"
        >
            <p class="text-[#343434]">Notion calendar</p>
            {{ template "google-login-button" . }}
        </nav>
    </body>
</html>
