<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/static/output.css" />
        <title>Notion calendar</title>
    </head>
    <body class="bg-[#242424] font-mono">
        <nav
            class="flex w-full bg-[#242424] outline outline-1 outline-[#F0EAD6]/50 text-[#F0EAD6] p-4 justify-between items-center text-sm"
        >
            <p>Notion calendar</p>
            <a
                href="/login"
                class="relative p-2 bg-[#F0EAD6] text-[#242424] rounded-md hover:bg-[#F0EAD6]/75 active:bg-[#F0EAD6]/50 transition-all duration-200 ease-in-out"
            >
                Sign in with Google
            </a>
        </nav>
    </body>
</html>
